{% extends 'work/form_template.html' %}
{% load static extra_tags %}

{% block extra_style %}
{% endblock %}

{% block title %}
    Create
{% endblock %}

{% block extra_main %}
    <form method="post" class="uk-margin-large uk-grid-small" uk-grid>
        {% csrf_token %}
        <legend class="uk-legend">
            <span class="reserved">def</span> <span class="function">create_project</span><span class="brackets">()</span>
        </legend>
        <div class="uk-width-1-1">
            {{ form.non_field_errors }}
            
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
        </div>
        
        {# Add appropriate uikit classes to input fields #}
        {% for field in form %}
            <div class="uk-form-controls uk-width-1-2@s">
                {% with input_type=field.field.widget.input_type %}
                    {% if input_type == "text" or input_type == 'url' %}
                        {{ field.label }}
                        {{ field|add_class:"uk-input" }}
                    {% elif input_type == "checkbox" %}
                        {{ field.label }}
                        {{ field|add_class:"uk-checkbox" }}
                    {% else %}
                        {{ field.label }}
                        {{ field|add_class:"uk-textarea" }}
                    {% endif %}
                {% endwith %}
            </div>
        {% endfor %}

        <div class="uk-form-controls uk-width-1-1@s">
            <input type="submit" value="Submit" class="uk-button uk-button-secondary">
        </div>
    </form>
{% endblock %}