{% extends 'home/layout.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/delete.css' %}">
{% endblock %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm Delete" class="uk-button uk-button-secondary uk-button-large">
        <a class="uk-button uk-button-secondary uk-button-large" href="{% url 'home' %}">Home</a>
        <a class="uk-button uk-button-secondary uk-button-large" href="{% url 'all-projects' %}">Projects</a>
    </form>
{% endblock %}