{% extends 'home/layout.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'work/css/detail.css' %}">
{% endblock %}

{% block title %}
    {{ project.name }}
{% endblock %}

{% block main %}
    <h1>{{ project.name }}</h1>
    <h4>{{ project.description }}</h4>

    {% if user.is_authenticated %}
        <a href="{% url 'update-project' project.url_slug %}">Update</a>
        <a href="{% url 'delete-project' project.url_slug %}">Delete</a>
    {% endif %}

    <a href="{% url 'all-projects' %}">Back</a>
{% endblock %}

