{% extends 'home/layout.html' %}
{% load static extra_tags %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'work/css/desktop/index.css' %}">
    <link rel="stylesheet" href="{% static 'work/css/mobile/index.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'work/js/index.js' %}"></script>
{% endblock %}

{% block title %}
    All Projects
{% endblock %}

{% block main %}

    <section id="intro" class="step no-margin-left">
        <div class="uk-padding-large" id="intro-title">
            <h1 class="mono">
                <span class="reserved">def</span> <span class="function">projects</span><span class="brackets">()</span>
            </h1>
        </div>
        <article id="intro-text" class="uk-padding-large">
            <p class="card-text">
                I'm really proud of the work I've done. See a whole range of tech and processes in action in the form of web applications below! Each card links to a more detailed summary of the app, with links to the code and the app itself. 
            </p>
            <p class="card-text">
                There's also a filter control panel in the bottom left in case you know what you want to see. If not, I recommend Champ to start as my most complete app.
            </p>
        </article>
    </section>

    <hr class="uk-divider-icon uk-margin-large-bottom">

    {% if user.is_authenticated %}
        <h2 id="new-proj"><a href="{% url 'new-project' %}" uk-icon="icon: plus"></a></h2>
    {% endif %}

    <section id="proj-all" class="uk-container step" uk-filter="target: .js-filter"  uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 500;">
        <section class="projects scrollspy">
            <ul class="js-filter uk-text-center uk-grid-collapse uk-child-width-1-2@m" uk-grid uk-height-match="target: > li > div > .uk-card">
                {% for p in all_projects %}
                    <li class="tag-all {% for l in p.get_languages %}tag-{{ l|lower }} {% endfor %} {% for t in p.get_stack %}{% with lower_t=t|lower %} tag-{{ lower_t|replace_space }} {% endwith %}{% endfor %} {% for t in p.get_tags %}{% with lower_t=t|lower %} tag-{{ lower_t|replace_space }} {% endwith %}{% endfor %}">

                            <div>
                                <div class="uk-card uk-card-default uk-grid-collapse uk-margin-small-left uk-margin-small-right uk-margin-medium-bottom" uk-grid>
                                    <div class="uk-card-media-top uk-cover-container fit-bg-img b-shadow card-img"
                                    data-src="{{ p.projectspecs.preview.url }}"
                                    uk-img>
                                    </div>
                                    <div>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title"><a href="{% url 'view-project' p.url_slug %}" class="link-3">{{ p.name }}</a>
                                                {% if p.current %}
                                                    <span id="current" class="uk-badge">Current</span>
                                                {% endif %}
                                            </h3>
                                            {{ p.description|linebreaks|add_class:"serif card-text" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section id="controls">
            <ul class="uk-nav-default uk-nav-parent-icon uk-margin-small-bottom" uk-nav id="control-options">
                <li uk-filter-control=".tag-all"><a href="#" class="serif">View All</a></li>
                {% for key, value in filters.items %}
                    <li class="uk-parent">
                        <a href="#" class="serif">{{ key }}</a>
                        <ul class="uk-nav-sub">
                            {% for v in value %}
                                {% with lower_v=v|lower %}
                                    <li uk-filter-control=".tag-{{ lower_v|replace_space }}"><a href="#" class="serif">{{ v }}</a></li>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <a id="toggle-filter" class="uk-margin-small-top serif">Filter <span uk-icon="icon: cog"></span></a>
        </section>
    </section>

{% endblock %}
