{% extends 'home/layout.html' %}
{% load static extra_tags %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'work/css/desktop/index.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'work/js/index.js' %}"></script>
{% endblock %}

{% block title %}
    All Projects
{% endblock %}

{% block main %}

    {% if user.is_authenticated %}
        <h2 id="new-proj"><a href="{% url 'new-project' %}" uk-icon="icon: plus"></a></h2>
    {% endif %}

    <div id="proj-all" class="uk-container" uk-filter="target: .js-filter">
        <div class="projects">
            <ul class="js-filter uk-text-center uk-grid-collapse uk-child-width-1-1@s" uk-grid>
                {% for p in all_projects %}
                    <li class="tag-all {% for l in p.get_languages %}tag-{{ l|lower }} {% endfor %} {% for t in p.get_stack %}{% with lower_t=t|lower %} tag-{{ lower_t|replace_space }} {% endwith %}{% endfor %}">

                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-small-top uk-margin-small-bottom" uk-grid>
                                <div class="uk-card-media-left uk-cover-container">
                                    
                                    <img src="{{ p.specs.preview.url }}" alt="Screenshot of {{ p.name }} in action" uk-cover>

                                    <canvas width="600" height="400"></canvas>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title"><a href="{% url 'view-project' p.url_slug %}">{{ p.name }}</a></h3>
                                        <p class="serif">{{ p.description|linebreaks }}</p>
                                    </div>
                                </div>
                            </div>
                        
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="controls">
            <ul class="uk-nav-default uk-nav-parent-icon uk-margin-small-bottom" uk-nav id="control-options">
                <li uk-filter-control=".tag-all"><a href="#" class="serif">View All</a></li>
                <li class="uk-parent">
                    <a href="#" class="serif">Languages</a>
                    <ul class="uk-nav-sub">
                        {% for l in langs %}
                            <li uk-filter-control=".tag-{{ l|lower }}"><a href="#" class="serif">{{ l }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#" class="serif">Technologies</a>
                    <ul class="uk-nav-sub">
                        {% for t in techs %}
                            {% with lower_t=t|lower %}
                                <li uk-filter-control=".tag-{{ lower_t|replace_space }}"><a href="#" class="serif">{{ t }}</a></li>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <a id="toggle-filter" class="uk-margin-small-top serif">Filter <span uk-icon="icon: cog"></span></a>
        </div>
    </div>

{% endblock %}

<div class="uk-container">
    <h1>Project Index</h1>
    {% if user.is_authenticated %}
        <h2><a href="{% url 'new-project' %}">New</a></h2>
    {% endif %}
</div>

<div id="proj-all" class="uk-container" uk-filter="target: .js-filter">
    <div class="controls uk-width-1-4">
        <h3>Filter</h3>
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li uk-filter-control=".tag-all"><a href="#">View All</a></li>
            <li class="uk-parent">
                <a href="#">Languages</a>
                <ul class="uk-nav-sub">
                    {% for l in langs %}
                        <li uk-filter-control=".tag-{{ l|lower }}"><a href="#">{{ l }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#">Technologies</a>
                <ul class="uk-nav-sub">
                    {% for t in techs %}
                        {% with lower_t=t|lower %}
                            <li uk-filter-control=".tag-{{ lower_t|replace_space }}"><a href="#">{{ t }}</a></li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>

    <div class="projects uk-width-3-4">
        <ul class="js-filter uk-text-center" uk-grid>
            {% for p in all_projects %}
                <li class="uk-width-1-2@s tag-all {% for l in p.get_languages %}tag-{{ l|lower }} {% endfor %} {% for t in p.get_stack %}{% with lower_t=t|lower %} tag-{{ lower_t|replace_space }} {% endwith %}{% endfor %}">
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-primary uk-card-body uk-margin-small">
                            <h3 class="uk-card-title"><a href="{% url 'view-project' p.url_slug %}">{{ p.name }}</a></h3>
                            <p>{{ p.description }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>