{% extends 'home/layout.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/desktop/about.css' %}">
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <section id="all-about">
        <section class="step" id="splash" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 500;">
            <div id="welcome-title" class="scrollspy">
                <h1 class="mono">
                    Lorem ipsum, dolor sit amet <br> consectetur adipisicing.
                </h1>
            </div>
            <div id="welcome-text" class="scrollspy">
                <h2 class="serif">
                    You can get in touch regarding all using the envelope button <br> in the icon nav, or contact in the top nav.
                </h2>
            </div>
        </section>

        <section class="step no-margin-left" uk-grid>

            <div class="uk-width-1-4@s panel-title" id="glance-left" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 200;">
                <h1 class="mono uk-margin-medium-top scrollspy underline">
                    Intro
                </h1>
            </div>
            <div class="uk-width-3-4@s" id="glance-right" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 450;">
                <h3 class="mono code-text scrollspy">
                    <span class="reserved">class</span> <span class="misc2">AtsushiToda</span><span class="brackets">(</span><span class="comment2">JuniorDeveloper</span></span>.<span class="misc">forHire</span><span class="brackets">)</span>:
                </h3>

                <h5 class="mono code-text indent comment scrollspy">
                    """<br>
                    This is about me - Atsushi Toda. Osaka born, London raised - I'm an aspiring Software Developer with a background in Analytics and PPC.<br>
                    <br>
                    It's a bit of a read but it's interesting. I promise!
                    <br>
                    """
                </h5>
                <h5 class="mono code-block indent scrollspy">
                    <span class="reserved">def</span> <span class="function">get_overview</span><span class="brackets">(</span><span class="misc3">self</span><span class="brackets">)</span>:
                </h5>
                <h5 class="mono code-text indent2 scrollspy">
                    <span class="misc3">self</span>.skills = [<span class="string">'Web App Development'</span>, <span class="string">'Full Stack Web Development'</span>] 
                    <br>
                    <span class="misc3">self</span>.languages = [<span class="string">'Python'</span>, <span class="string">'JavaScript'</span>, <span class="string">'HTML'</span>, <span class="string">'CSS'</span>, <span class="string">'SQL'</span> ]
                    <br><br>
                    <span class="misc3">self</span>.goals = <span class="string">'Junior Developer Role At A Great (I'm looking at you!) Company'</span>
                </h5>
                <h5 class="mono code-block indent scrollspy">
                    <span class="reserved">def</span> <span class="function">status</span><span class="brackets">(</span><span class="misc3">self</span><span class="brackets">)</span>:
                </h5>
                <h5 class="mono code-text indent2 scrollspy">
                    <span class="misc3">self</span>.currently = { <br>

                    <span class="indent">
                        <span class="comment">'working_on'</span>: {% if not current %} <span class="misc">None</span> {% else %} <a href="{% url 'view-project' current.url_slug %}" class="link-1">'{{ current.name }}'</a> {% endif %}, <span class="comment2"># click the name to see!</span> 
                    </span><br>
                    <span class="indent">
                        <span class="comment">'listening_to'</span>: <span class="misc2">'{{ song }}'</span>,
                    </span><br>
                    }
                </h5>
            </div>

        </section>

        <section class="step" id="skills" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 500;">
            <div class="skills-text" id="skills-title">
                <h1 class="mono scrollspy">I've been <span class="misc3">developing</span> for <span class="comment2">~18 months</span></h1>
            </div>
            <div class="skills-text" id="skills-sub">
                <h1 class="mono scrollspy">So I'm <span class="function">pretty good</span> at <span class="string">Django</span></h1>
            </div>

            <hr>
            <div class="skills-text uk-child-width-1-3@s" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 700;" id="skills-last">
                <div class="skills-list scrollspy" id="st-left">
                    <h2 class="mono">
                        I already know <span class="comment2">JavaScript</span>.
                    </h2>
                </div>
                <div class="skills-list scrollspy" id="st-mid">
                    <h2 class="mono">
                        So soon, I'll be good at <span class="function">React</span> too!
                    </h2>
                </div>
                <div class="skills-list scrollspy" id="st-right">
                    <h2 class="mono">
                        And I'm willing to <span class="misc5">keep learning</span>.
                    </h2>
                </div>
            </div>
        </section>
    </section>
     
{% endblock %}