{% extends 'home/layout.html' %}
{% load static extra_tags %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/desktop/about.css' %}">

    <!-- For the Contact Form -->
    <link rel="stylesheet" href="{% static 'home/css/desktop/contact.css' %}">
{% endblock %}

{% block javascript %}
    {# For the dynamic star help text in the form #}
    <script src="{% static 'home/js/contact.js' %}"></script>
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <section id="all-about">

        {# initial splash #}
        <section class="step" id="splash" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 500;">
            <div id="welcome-title" class="scrollspy">
                <h1 class="mono">
                    <span class="reserved">def</span> <span class="function">about_atsushi</span><span class="brackets">()</span>
                </h1>
            </div>
            <div id="welcome-text" class="scrollspy">
                <h2 class="serif">
                    You can get in touch regarding all using the envelope button in the icon nav, <span class="reserved">contact</span> in the top nav, or the form at the bottom of the page.
                </h2>
            </div>
        </section>
        
        {# At a glance info #}
        <section class="step no-margin-left" uk-grid>

            <div class="uk-width-1-4@s panel-title" id="glance-left" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 200;">
                <h1 class="mono uk-margin-medium-top scrollspy underline">
                    Intro
                </h1>
            </div>
            <div class="uk-width-3-4@s" id="glance-right" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 450;">
                <h3 class="mono code-text scrollspy">
                    <span class="reserved">class</span> <span class="misc2">AtsushiToda</span><span class="brackets">(</span><span class="comment2">JuniorDeveloper</span></span>.<span class="misc">forHire</span><span class="brackets">)</span>:
                </h3>

                <h5 class="mono code-text indent comment scrollspy">
                    """<br>
                    This is about me - Atsushi Toda. Osaka born, London raised - I'm an aspiring Software Developer with a background in Analytics and PPC.<br>
                    <br>
                    It's a bit of a read but it's interesting. I promise!
                    <br>
                    """
                </h5>
                <h5 class="mono code-block indent scrollspy">
                    <span class="reserved">def</span> <span class="function">get_overview</span><span class="brackets">(</span><span class="misc3">self</span><span class="brackets">)</span>:
                </h5>
                <h5 class="mono code-text indent2 scrollspy">
                    <span class="misc3">self</span>.skills = [<span class="string">'Web App Development'</span>, <span class="string">'Full Stack Web Development'</span>] 
                    <br>
                    <span class="misc3">self</span>.languages = [<span class="string">'Python'</span>, <span class="string">'JavaScript'</span>, <span class="string">'HTML'</span>, <span class="string">'CSS'</span>, <span class="string">'SQL'</span> ]
                    <br><br>
                    <span class="misc3">self</span>.goals = <span class="string">'Junior Developer Role At A Great (I'm looking at you!) Company'</span>
                </h5>
                <h5 class="mono code-block indent scrollspy">
                    <span class="reserved">def</span> <span class="function">status</span><span class="brackets">(</span><span class="misc3">self</span><span class="brackets">)</span>:
                </h5>
                <h5 class="mono code-text indent2 scrollspy">
                    <span class="misc3">self</span>.currently = { <br>

                    <span class="indent">
                        <span class="comment">'working_on'</span>: {% if not current %} <span class="misc">None</span> {% else %} <a href="{% url 'view-project' current.url_slug %}" class="link-1">'{{ current.name }}'</a> {% endif %}, <span class="comment2"># click the name to see!</span> 
                    </span><br>
                    <span class="indent">
                        <span class="comment">'listening_to'</span>: <span class="misc2">'{{ song }}'</span>,
                    </span><br>
                    }
                </h5>
            </div>

        </section>

        {# "Chapter" steps here on out #}
        <section class="step" id="skills" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 500;">
            <div class="skills-text" id="skills-title">
                <h1 class="mono scrollspy">I've been <span class="misc3">developing</span> for <span class="comment2">~12 months</span></h1>
            </div>
            <div class="skills-text" id="skills-sub">
                <h1 class="mono scrollspy">So I'm <span class="function">pretty good</span> at <span class="string">Django</span></h1>
            </div>

            <div class="skills-text uk-child-width-1-3@s" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 700;" id="skills-last">
                <div class="skills-list scrollspy" id="st-left">
                    <h2 class="mono">
                        I already know <span class="comment2">JavaScript</span>.
                    </h2>
                </div>
                <div class="skills-list scrollspy" id="st-mid">
                    <h2 class="mono">
                        So soon, I'll be moving onto <span class="function">React</span>.
                    </h2>
                </div>
                <div class="skills-list scrollspy" id="st-right">
                    <h2 class="mono">
                        And I'm willing to <span class="misc5">keep learning</span>.
                    </h2>
                </div>
            </div>
        </section>

        <section id="why" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 500;">
            <h1 class="mono scrollspy">
                I started coding when I became <span class="misc3">agoraphobic</span>.
            </h1>
            <h1 class="mono scrollspy">
                It was another <span class="string">goal</span> to drive towards <span class="misc">recovery</span> with.
            </h1>
            <h1 class="mono scrollspy">
                In that time, I've <span class="name">gained experience</span> in many <span class="function">core developing components</span> including:
            </h1>
            <div class="uk-width-1-1 uk-child-width-1-2@s no-margin-left" uk-grid>
                <ul class="uk-list uk-list-large why-list" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 200;">
                    <li class="scrollspy underline2-1 string">Testing</li>
                    <li class="scrollspy underline2-1 string">Databases</li>
                    <li class="scrollspy underline2-1 string">The DOM</li>
                </ul>
                <ul class="uk-list uk-list-large why-list" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 200;">
                    <li class="scrollspy underline4 comment2">Version Control</li>
                    <li class="scrollspy underline4 comment2">Data Types</li>
                    <li class="scrollspy underline4 comment2">HTTP & AJAX</li>
                </ul>
            </div>
        </section>

        <section uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 500;" class="" id="offer">
            <h1 class="mono scrollspy uk-text-center">I've gotten good at <span class="reserved">developing web apps</span>.</h1>
            <h1 class="mono scrollspy">My favourite project is <span class="misc5">Champ</span>.</h1>
            <h1 class="mono scrollspy">
                It's a workout generator - <span class="misc3">my first web app</span> I made from ground up at the end of CS50.
            </h1>

            <h1 class="mono scrollspy uk-text-right uk-margin-large-top">
                I also think <span class="comment2">this very site</span> is good.
            </h1>
            <h1 class="mono scrollspy uk-text-right">
                It uses rigourous <span class="comment">unit testing</span> while being my best <span class="misc">responsive design</span>.
            </h1>

            <h1 class="mono scrollspy uk-text-center uk-margin-large-top">You can see them and <a class="link-3 underline5" href="{% url 'all-projects' %}">all my projects</a> in more detail on my <a class="link-5 underline2-1" href="{% url 'all-projects' %}">work page</a>. </h1>

            <h1 class="mono scrollspy uk-margin-large-top uk-margin-large-bottom uk-text-center">
                I'd <span class="misc4">love</span> nothing more than a chance to <span class="string">work together</span>!
            </h1>
        </section>

        <section class="no-margin-left" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 500;" id="final">
            <div class="uk-width-1-1 scrollspy" id="fin-title">
                <h1 class="mono">Ok, <span class="misc3">your turn</span>.</h1>
            </div>
            <div class="uk-width-1-1 uk-padding-medium uk-flex uk-flex-middle scrollspy" uk-grid>
                <div class="uk-width-1-2@s">
                    <form method="post" action="{% url 'contact' %}" class="uk-margin-large uk-grid-small" uk-grid>
                            {% csrf_token %}
                            <legend class="uk-legend uk-margin-medium-bottom"> <span class="reserved">def</span> <span class="function">contact</span><span class="brackets">():</span></legend>
                            <div class="uk-width-1-1">
                                {{ form.non_field_errors }}
                                
                                {% for field in form %}
                                    {{ field.errors }}
                                {% endfor %}
                            </div>
                    
                            {% for field in form %}
                                {% if field.label == 'Score' %}
                                    <div class="uk-width-1-6@s"></div>
                                    <div class="uk-width-1-3@s">
                                        <label for="{{ field.id_for_label }}" class="uk-form-label">{{ field.label|capfirst }}:</label>
                                        <input class="uk-range" type="range" value="1" min="1" max="5" step="1" required id="id_score" name="score" onchange="adjustScore(value)">
                                        <p class="uk-text-meta uk-text-center serif">{{ field.help_text }}</p>
                                    </div>
                                    <div class="uk-width-1-3@s">
                                        {% for i in 5|loop_nums %}
                                            <div class="score uk-flex uk-flex-column uk-flex-between uk-flex-middle" id="score-{{ i }}">
                                                <div class="stars">
                                                    {% for n in i|loop_nums %}
                                                        <span uk-icon="star"></span>
                                                    {% endfor %}
                                                </div>
                                                <div class="score-help">
                                                    <p class="uk-text-meta uk-text-center serif">
                                                        {% if i == 1 %}
                                                            You would not consider me for a junior position.
                                                        {% elif i == 2 %}
                                                            You would consider me for a junior position, but I would need a lot of training.
                                                        {% elif i == 3 %}
                                                            You would consider me a decent candidate for a junior position.
                                                        {% elif i == 4 %}
                                                            You would consider me a strong candidate for a junior position.
                                                        {% elif i == 5 %}
                                                            You would consider me a stand out candidate for a junior position.
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="uk-width-1-6@s"></div>
                                    
                                {% elif field.label == 'Message' %}
                                    <div class="uk-form-controls uk-width-1-1 uk-margin-small-bottom">
                                        {{ field|add_class_form:'uk-textarea uk-form-blank serif message-field' }}
                                    </div>
                                {% else %}
                                    <div class="uk-form-controls uk-width-1-2@s">
                                        {{ field|add_class_form:'uk-input uk-form-blank serif message-field'}}
                                    </div>
                                {% endif %}
                            {% endfor %}
                    
                            <div class="uk-width-1-3"></div>
                            <div class="uk-width-1-3 uk-margin-small-top">
                                <input type="submit" value="Send" class="uk-button uk-button-text uk-button-large uk-width-1-1 uk-margin-small-top uk-margin-medium-bottom">
                            </div>
                            <div class="uk-width-1-3"></div>
                    </form>
                </div>
                <div class="uk-width-1-2@s" id="fin-text">
                    <h1 class="mono">< Say <span class="misc4">hi</span></h1>
                    <hr>
                    <h1 class="mono">See my <a href="{% url 'all-projects' %}" class="link-2 underline2-1">work</a>!</h1>
                    <hr>
                    <h1 class="mono">Download my <a href="{% static 'home/pdf/Atsushi Toda CV.pdf' %}" class="link-5 underline3" download="Atsushi Toda CV.pdf">CV</a></h1>
                </div>
            </div>
        </section>
    </section>
     
{% endblock %}