{% extends 'home/layout.html' %}
{% load static extra_tags %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/contact.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'home/js/contact.js' %}"></script>
{% endblock %}


{% block title %}
    Contact
{% endblock %}

{% block main %}
    {% if messages %}
        {% for message in messages %}
            <div class="uk-alert-success">
                <button class="uk-alert-close" type="button" uk-close></button>
                <h3 class="uk-text-center uk-text-success">Success!</h3>
                <p class="uk-text-center">{{ message.message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" class="uk-margin-large uk-grid-small" uk-grid>
        {% csrf_token %}
        <legend class="uk-legend">Contact</legend>
        <div class="uk-width-1-1">
            {{ form.non_field_errors }}
            
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
        </div>

        {% for field in form %}
            {% if field.label == 'Score' %}
                <div class="uk-width-1-6@s"></div>
                <div class="uk-width-1-3@s">
                    <label for="{{ field.id_for_label }}" class="uk-form-label">{{ field.label|capfirst }}:</label>
                    <input class="uk-range" type="range" value="1" min="1" max="5" step="1" required id="id_score" name="score" onchange="adjustScore(value)">
                    <p class="uk-text-meta uk-text-center">{{ field.help_text }}</p>
                </div>
                <div class="uk-width-1-3@s">
                    {% for i in 5|loop_nums %}
                        <div class="score uk-flex uk-flex-column uk-flex-between uk-flex-middle" id="score-{{ i }}">
                            <div class="stars">
                                {% for n in i|loop_nums %}
                                    <span uk-icon="star"></span>
                                {% endfor %}
                            </div>
                            <div class="score-help">
                                <p class="uk-text-meta uk-text-center ">
                                    {% if i == 1 %}
                                        You would not consider me for a junior position.
                                    {% elif i == 2 %}
                                        You would consider me for a junior position, but I would need a lot of training.
                                    {% elif i == 3 %}
                                        You would consider me a decent candidate for a junior position.
                                    {% elif i == 4 %}
                                        You would consider me a strong candidate for a junior position.
                                    {% elif i == 5 %}
                                        You would consider me a stand out candidate for a junior position.
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="uk-width-1-6@s"></div>
                
            {% elif field.label == 'Message' %}
                <div class="uk-form-controls uk-width-1-1">
                    {{ field|add_class:'uk-input' }}
                    <hr class="uk-divider-icon">
                </div>
            {% else %}
                <div class="uk-form-controls uk-width-1-2@s">
                    {{ field|add_class:'uk-input'}}
                </div>
            {% endif %}
        {% endfor %}

        <div class="uk-width-1-3"></div>
        <div class="uk-width-1-3">
            <input type="submit" value="Send" class="uk-button uk-button-secondary uk-button-large uk-width-1-1 uk-margin-medium-top">
        </div>
        <div class="uk-width-1-3"></div>
    </form>
        
{% endblock %}
