{% extends 'home/layout.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block title %}
    Home
{% endblock %}

{% block main %}
    <section id="splash" class="uk-container">

    </section>

    <nav id="sticky-nav" class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left uk-margin-large-left">
            <h5 class="header uk-navbar-item nav-logo">
                <a href="{% url 'home' %}" class="header">{&ensp;<span class="name uk-margin-left-small">atsushi</span>.<span class="misc">dev</span>()&ensp;}</a>
            </h5>
        </div>
        <div class="uk-navbar-right uk-margin-large-right">
            <ul class="uk-navbar-nav nav-links">
                <li><a href="{% url 'all-projects' %}" class="link-2 header uk-margin-medium-right">Work</a></li>
                <li><a href="{% url 'about' %}" class="link-3 header uk-margin-medium-right">About</a></li>
                <li><a href="{% url 'contact' %}" class="link-4 header uk-margin-medium-right">Contact</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}