{% extends 'home/layout.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/desktop/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/mobile/home-mob.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}


{% block title %}
    Home
{% endblock %}

{% block main %}
    <section id="splash" class="uk-container">
        <div class="center-screen">
            <h1 class="" id="title">
                <span class="brackets">{</span>&ensp;<span class="comment2 uk-margin-left-small">atsushi</span><span class="brackets">.</span><span class="misc">dev</span><span class="brackets">()</span>&ensp;<span class="brackets">}</span>
            </h1>
            <ul class="uk-breadcrumb">
                <li class="brackets">web apps</li>
                <li class="brackets">django</li>
                <li class="brackets">london</li>
            </ul>
        </div>
    </section>

    <nav id="sticky-nav" class="uk-navbar uk-navbar-container" uk-navbar uk-sticky>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li><a href="{% url 'home' %}" class="link-1 mono nav-links">Home</a></li>
                <li><a href="{% url 'contact' %}" class="link-4 mono nav-links">Contact</a></li>
                <li><a href="{% url 'all-projects' %}" class="link-2 mono nav-links">Work</a></li>
                <li><a href="{% url 'about' %}" class="link-3 mono nav-links">About</a></li>
            </ul>
        </div>
        <!-- <div class="uk-navbar-right">
            <ul class="uk-navbar-nav nav-links">
                <li><a id="more-jump" href="#hello-world" uk-icon="icon: info"></a></li>
            </ul>
        </div> -->
    </nav>

    <section class="step uk-container@s uk-padding-large-top" id="hello-world" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 500;">
        <div class="uk-width-1-4@s scrollspy" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 200;" id="quick-bar">
            <h1 class="mono uk-margin-medium-top scrollspy underline2">
                Hello World!
            </h1>
            <h3 class="mono uk-margin-medium-bottom scrollspy">
                ...
            </h3>
        </div>
        <div class="uk-width-3-4@s scrollspy" id="quick-links">
            <div class="uk-height-large uk-width-1-2@s" id="quick-left">
                <h3 class="mono uk-text-muted no-spacing" style="text-align: justify"> 
                    <span class="misc4">I'm Atsushi,</span> Id enim nemo aperiam officiis 33 consectetur placeat est. <span class="misc4">I really enjoy making web apps.</span> consequatur debitis At quas architecto Sit culpa ducimus id <span class="misc4">so I'm trying to become a software developer.</span> galisum iure rem quia unde.Est repellat fugit eum <span class="misc4">maybe we could work together?</span> necessitatibus obcaecati qui Quis consequatur in quibusdam galisum ut accusamus dolore et libero quae. Quo deserunt ipsum aut pariatur aperiam qui quasi maxime et iure nostrum ad odio sunt qui quia labore aut adipisci molestias.
                </h3>
            </div>
            <div class="uk-height-large uk-width-1-3@s uk-card uk-card-default scrollspy" id="quick-right">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom mono"><span class="misc2">Currently</span> <span class="misc4">developing</span>:</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body card-scroll">
                    <h3 class="uk-title no-spacing misc2">{{ current.name }}</h3>
                    <p class="brackets">
                        {{ current.description }}
                    </p>
                </div>
                <div class="uk-card-footer">
                    <a href="{% url 'view-project' current.url_slug %}" class="uk-button uk-button-text link-4" target="__blank">See project</a>
                </div>
            </div>
        </div>
    </section>

    <section id="sitemap" class="uk-container@s step">
        <div id="home-start" uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 500;" class="uk-padding-large">
            <h1 class="mono scrollspy help-message">Now that we're <span class="misc3">acquainted</span>...</h1>
            <h2 class="mono scrollspy help-message">Any of these <span class="misc">sound good</span>?</h2>
            <div id="welcome-options" class="uk-child-width-1-3@s uk-padding-small"
            uk-grid 
            uk-scrollspy="cls: uk-animation-fade; target: .scrollspy; delay: 500;" uk-height-match="target: .uk-card">
                <div class="uk-card uk-card-hover uk-width-1-3@m scrollspy">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom mono brackets underline3">More <span class="function">about me</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body card-scroll">
                        <p class="serif brackets">
                            Here, you can read more about me and get a gauge of what I'm like.
                        </p>
                        <p class="serif brackets">
                            There's also plenty of information on my skills and expertise!
                        </p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="{% url 'about' %}" class="uk-button uk-button-text link-5">About</a>
                    </div>
                </div>

                <div class="uk-card uk-card-hover uk-width-1-3@m scrollspy">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom mono comment2 underline4">Projects / <span class="misc">Work</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body card-scroll">
                        <p class="serif comment2">
                            A lot of time and effort has gone into demonstrating my skills.
                        </p>
                        <p class="serif comment2">
                            Use the filter to choose the specs you want to see. My personal choice is <a href="{% url 'view-project' 'champ-django' %}" target="__blank" class="link-3">Champ (Django)</a>. It has an API, uses tons of Django features and provides a cool service too!
                        </p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="{% url 'all-projects' %}" class="uk-button uk-button-text link-3">See Projects</a>
                    </div>
                </div>

                <div class="uk-card uk-card-hover uk-width-1-3@m scrollspy">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom mono misc3 underline5">Getting in touch</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body card-scroll">
                        <p class="serif misc4">
                            If you have any questions or comments, get in touch right now!
                        </p>
                        <p class="serif misc4">
                            You can also find my CV on this page if you need it.
                        </p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="{% url 'contact' %}" class="uk-button uk-button-text link-4">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}