<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- STYLING -->
    <!-- UiKit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />

    <!-- Local -->
    <link rel="stylesheet" href="{% static 'home/css/desktop/layout.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/mobile/layout-mob.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/desktop/typography.css' %}">
    {% block stylesheet %}
    {% endblock %}

    <!-- Javascript -->
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>

    <!-- Local JS -->
    <script src="{% static 'home/js/all.js' %}"></script>
    {% block javascript %}
    {% endblock %}

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <title>Hire Atsushi: {% block title %}{% endblock %}</title>
</head>
<body>
    <section id="all">

        <section id="main" class="uk-container uk-container-expand">
            {% if not hide_nav %}
                <nav id="top-nav" class="uk-navbar-container uk-navbar" uk-navbar>
                    <div class="uk-navbar-left full-nav">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="{% url 'home' %}" id="logo">
                                    <h4 class=" uk-margin-small no-space">
                                        <span class="brackets">{</span>&ensp;<span class="comment2 uk-margin-left-small">atsushi</span><span class="brackets">.</span><span class="misc">dev</span><span class="brackets">()</span>&ensp;<span class="brackets">}</span>
                                    </h4>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="uk-navbar-center">
                        <h5 class=" uk-margin-small">
                            {% if user.is_authenticated %}
                                <span uk-icon="user"></span>
                            {% endif %}
                        </h5>
                    </div>

                    <div class="uk-navbar-right uk-margin-large-right" id="nav-options">
                        <ul class="uk-navbar-nav">
                            <li><a href="{% url 'home' %}" class="link-1">Home</a></li>
                            <li><a href="{% url 'contact' %}" class="link-4">Contact</a></li>
                            <li><a href="{% url 'all-projects' %}" class="link-2">Work</a></li>
                            <li><a href="{% url 'about' %}" class="link-3">About</a></li>
                        </ul>
                    </div>
                </nav>
            {% endif %}


            <section id="main-content">
                {% block main %}
                {% endblock %}
            </section>
        </section>

        <nav id="icon-nav">
            <ul class="uk-nav uk-nav-default uk-nav-center">
                <li><a href="{% url 'home' %}" uk-icon="icon: home"></a></li>
                <li><a href="{% url 'all-projects' %}" uk-icon="icon: code"></a></li>
                <li><a href="{% url 'about' %}" uk-icon="icon: info"></a></li>
                <li><a href="{% url 'contact' %}" uk-icon="icon: mail"></a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="https://github.com/broadsinatlanta" uk-icon="icon: github"></a></li>
            </ul>
        </nav>
    
    </section>
</body>
</html>