<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- STYLING -->
    <link rel="stylesheet" href="{% static 'home/css/layout.css' %}">

    <!-- UiKit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />

    {% block stylesheet %}
    {% endblock %}

    <title>Hire Atsushi: {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="uk-navbar uk-navbar-container uk-navbar-transparent">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
        <div class="uk-navbar-center">
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="{% url 'all-projects' %}">All Projects</a></li>
                <li><a href="{% url 'new-project' %}">Create</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="uk-container">
        {% block main %}
        {% endblock %}
    </div>

    <!-- Javascript -->
    <!-- UiKit -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
</body>
</html>