<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- STYLING -->
    <link rel="stylesheet" href="{% static 'home/css/layout.css' %}">

    <!-- UiKit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />

    {% block stylesheet %}
    {% endblock %}

    <title>Hire Atsushi: {% block title %}{% endblock %}</title>
</head>
<body>
    
    {% block main %}
    {% endblock %}

    <!-- Javascript -->
    <!-- UiKit -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
</body>
</html>