/* Pal
Red - #db2b39
Blue - #499dc6
Yellow - #f0cf65
Navy - #29335c
Pink - #bc3c5e */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Overpass+Mono');

* {
    font-family: "Open Sans", sans-serif;
}

.header {
    font-family: "Overpass Mono", serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* navbars */
#icon-nav {
    /* border: 1px solid skyblue; */
    width: 5%;
    position: fixed;
    right: 2em;
    bottom: 1em;
}

#top-nav {
    /* border: 4px solid skyblue; */
    width: 100%;
    height: 50px;
    padding-top: 20px;

    background-color: transparent;
    border-bottom: 3px solid #630010;
}


.no-m {
    margin: 0;
}

.norm-text {
    color: #630010;
}

.def-m {
    margin: 0 0 5px 0;
}


hr {
    color: white;
}

.m-xs {
    margin-left: 3px;
}