@media (max-width: 905px) {
    #detail-intro {
        flex-direction: column;
        height: 33%;
        min-height: 2.5in;
        margin-top: 0;
    }

    #detail-name {
        border-right: 0;
        border-bottom: 3px solid #000;
        width: inherit;
        padding: 1.5rem;
    }

    #detail-text {
        width: inherit;
        overflow: scroll;
        justify-content: flex-start;
        height: 2in;
    }

    /* Bottom panel */
    #project-detail {
        padding: 0 0 1in 0;
        margin: 0;
    }

    /* Project name in the picture */
    .project-header {
        font-size: 2rem;
    }

    /* Div with buttons and title */

    .detail-info {
        padding: 0;
        bottom: 0;
        right: 0;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .detail-header {
        padding: 0;
    }

    .detail-buttons {
        flex-direction: column;
        align-items: center;
    }

    .detail-buttons > a, button {
        width: 50%;
        margin: 15px 0;
    }

    #app-btn {
        margin-right: 10px !important;
    }

    /* Admin control panel */
    #admin-ctrl {
        bottom: 30px; 
        left: 15px;
    }
}