/* Intro panel */
#detail-intro {
    min-height: 2in;
    height: 25vh;

    margin: 2rem 0;

    display: flex;
}

#detail-name {
    border-right: 2px solid #000;
    width: 33%;

    padding-top: 0.5rem;
}

#detail-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66%;
}

/* Picture with title and buttons */
.detail-header {
    background-size: cover;
    border-radius: 12px;
    position: relative;

    margin-top: 1.3em;
}

/* Info box on RHS */
.detail-info {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    display: flex;
    flex-direction: column;

    direction: rtl;
}

.detail-buttons {
    display: flex;
    justify-content: space-around;
}

/* Left side (info) */
.detail-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1.2rem;
}

.detail-summary > p {
    text-align: justify;
}

#desc-hr {
    border-color: #E5E5E5;
}

.project-header {
    color: white;
    letter-spacing: 2px;
}


 /* Admin control panel */
 #admin-ctrl {
     position: fixed;
     width: 300px;
     display: flex;
     justify-content: space-around;
     bottom: 15px; 
     left: 15px;
 }