/* Each panel */
.step {
    height: 75vh;
}

/* Overall container */
#all-about {
    height: 100%;
}

/* First panel - welcome splash */
#splash {
    position: relative;
    height: 90vh;
}

#welcome-title {
    position: absolute;
    right: 10px;
    top: 40px;
}

#welcome-title > h1 {
    font-size: 4rem;
    text-align: right;

    letter-spacing: 2px;
}

#welcome-text {
    position: absolute;
    left: 30px;
    bottom: 60px;
}

#welcome-text > h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

/* Second panel - basic intro */
.panel-title {
    border-right: 2px solid #000;
}

/* Second panel faux code */
#glance-right {
    display: flex;
    flex-direction: column;

    justify-content: center;
}


/* Adapted from - https://codepen.io/bootstrapped/pen/yJqbPa */
.underline {
    text-decoration: none; 
    position: relative; 
  }   

 .underline:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -7px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 70%;
    background: #af3b6e;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
 }

.underline:hover:after {
    width: 80%;
    background: #861388;
 }