/* Each panel */
.step {
    height: 75vh;
    margin: 2rem 0 4rem 0;
    min-height: 6in;
}

/* Overall container */
#all-about {
    height: 100%;
}

/* First panel - welcome splash */
#splash {
    position: relative;
    height: 80vh;
}

#welcome-title {
    position: absolute;
    right: 10px;
    top: 40px;

    width: 80%;
}

#welcome-title > h1 {
    font-size: 4rem;
    text-align: right;

    letter-spacing: 2px;
}

#welcome-text {
    position: absolute;
    left: 30px;
    bottom: 60px;
    width: 60%;
    min-width: 7in;

    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

#welcome-text > h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin: auto;
    padding: 0 2rem;
}

/* Second panel - basic intro */
.panel-title {
    border-right: 2px solid #000;
}

/* Second panel faux code */
#glance-right {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

/* 3rd panel skills */
#skills {
    display: flex;
    flex-flow: column;

    padding: 2em;
}

.skills-text {
    width: 100%;
    margin: auto 0;
}

/* First line */
#skills-title {
    flex: 0 1 auto;
    text-align: right;
}

/* Second line */

#skills-sub {
    flex: 0 1 auto;
    text-align: left;

    margin-bottom: 4em;
}

/* last line */
#skills-last {
    flex: 1 1 auto;

    display: flex;
    justify-content: space-around;
}

/* Final text */
.skills-list {
    display: flex;
    flex-direction: column;
}

#st-left {
    justify-content: flex-start;
}

#st-mid {
    justify-content: center;
}

#st-right {
    justify-content: flex-end;
}

/* fourth step why */
#why {
    padding: 2em;
}

#why > div {
    display: flex;
    justify-content: space-around;
}

#why > h1 {
    text-align: center;
}

.why-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 2em auto;
}

.why-list > li {
    font-size: 3em;
}

/* Offer panel */
#offer {
    padding: 2em;
    margin: 5em 0;
}

/* Last contact panel */
#final {
    margin-bottom: 10vh;
    margin-top: 3em;
}

#final > div {
    margin: 0.75rem 0;
}

#fin-title {
    display: flex;
    justify-content: center;
}

#fin-title > h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

#fin-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 75%;
    min-height: 4in;
    padding: 2rem;
}

#fin-text > hr {
    width: 100%;
}