.border {
    border: 1px solid navy;
}

#contact-main {
    height: 100%;
    width: 100%;
}

.message-field {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

#contact-main:after {
    background: linear-gradient(to right, #bcbcbc 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    left: 0;
    top: 0;
  }

.score {
    display: none;
    margin-top: 1rem;
    margin-left: 1rem;
}

#score-1 {
    display: block;
}

.stars {
    /* border: 1px solid gold; */
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}


.score-parent {
    width: 100%;
}