/* Splash screen */
#splash {
    width: 100%;
    height: 85vh;
    min-height: 5.5in; 
    margin-top: 10px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}


#title {
    font-size: calc(3rem + 0.75vw);
}

/* Hide icon-nav initially */
#icon-nav {
    display: none;
}


/* Sticky Nav */
#sticky-nav {
    overflow: hidden;
    background: transparent;
    height: 10vh;
    min-height: 50px;

    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sticky-nav > a {
    font-size: calc(0.5rem + 0.5vw);
    letter-spacing: 3px;
    text-transform: lowercase;
    margin: 1rem;
}

.uk-navbar-nav {
    align-items: center;
    justify-content: center;
}

.shrink-text li {
    font-family: 'Overpass Mono';
    font-size: 0.7rem;
}

.nav-logo {
    font-size: calc(10px + 0.75vw);
    font-family: 'Overpass Mono';
    margin: 0;
}

.nav-logo a:link, .nav-logo a:visited {
    text-decoration: none;
    color: #000;
}

.nav-logo a:hover, .nav-logo a:active {
    color: #e952de;
}

.nav-links li a {
    letter-spacing: 3px;
    font-size: calc(0.6rem + 0.5vw);
    font-family: 'Overpass Mono';
    text-transform: lowercase;
}

/* Site map (3rd screen) */

/* Each sub-page */
.step {
    height: 85vh;
    min-height: 6in;
    width: 100%;
    margin: 30px 0;
}

#sitemap {
    border-left: 2px solid #e3b505;
    border-right: 2px solid #faa275;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#home-start {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
}

.help-message {
    text-align: center;
    margin: 0 auto;
    padding: 20px;

    color: #4fa322;
}

#welcome-options {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-left: 5vw;
}

#welcome-options > article.uk-card{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0;
}

article.uk-card-body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Quick intro (2nd screen) */
#quick-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

#quick-bar {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

#quick-left {
    overflow: hidden;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0 1rem;
}

#quick-left > h3 {
    word-wrap: break-word;
    text-align: justify;
    font-size: calc(1rem + 0.75vw);
}

#quick-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quick-right > h3 {
    text-align: center;
}

/* Projects */
#recomended {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5rem 0;
}

#recomended-projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.best-body {
    height: 1.5in;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.best-preview {
    width: 100%;
    height: auto;
}