/* Splash screen */
#splash {
    width: 100%;
    min-height: 85vh;
    /* border: 1px dashed blue; */
    margin-top: 10px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.center {
    height: 100vh;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 50%;
}

#title {
    font-size: calc(3rem + 0.75vw);
}


#splash2 {
    min-height: 200vh;
}


/* Hide icon-nav initially */
#icon-nav {
    display: none;
}


/* Sticky Nav */
#sticky-nav {
    overflow: hidden;
    background: transparent;
    height: 13vh;
    min-height: 50px;
}

.uk-navbar-nav {
    align-items: center;
    justify-content: center;
}

.shrink-text li {
    font-family: 'Overpass Mono';
    font-size: 0.7rem;
}

.nav-logo {
    font-size: calc(10px + 0.75vw);
    font-family: 'Overpass Mono';
    margin: 0;
}

.nav-logo a:link, .nav-logo a:visited {
    text-decoration: none;
    color: #000;
}

.nav-logo a:hover, .nav-logo a:active {
    color: #e952de;
}

.nav-links li a {
    letter-spacing: 3px;
    font-size: calc(0.6rem + 0.5vw);
    font-family: 'Overpass Mono';
    text-transform: lowercase;
}