html {
    scroll-behavior: smooth;
}

#main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* Center all the main content */
#main-content {
    min-height: 80vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around
}

/* navbars */
#icon-nav {
    /* border: 1px solid skyblue; */
    width: 5%;
    position: fixed;
    right: 2em;
    bottom: 1em;
}

/* Top Nav */
#top-nav {
    background-color: #fff;
}

.uk-navbar-nav > li > a {
    letter-spacing: 3px;
    font-size: calc(0.5rem + 0.5vw);
    font-family: 'Overpass Mono';
    text-transform: lowercase;
}

/* Project current marker */
#current {
    background-color: #F45B69;
    padding: 0.6rem;
    margin-left: 1rem;
    font-size: 0.75rem;
}
