@import url('https://fonts.googleapis.com/css?family=Open+Sans|Overpass+Mono');

* {
    font-family: "Overpass Mono", monospace;
}

.serif {
    font-family: "Open Sans", sans-serif !important;
}

.mono {
    font-family: "Overpass Mono", monospace !important;
}


/* Code Styling */
.reserved {
    font-family: "Overpass Mono", monospace;
    color: #e952de;
}

.comment {
    font-family: "Overpass Mono", monospace;
    color: #4b7c8c;
}

.comment2 {
    font-family: "Overpass Mono", monospace;
    color: #ef798a;
}

.function {
    font-family: "Overpass Mono", monospace;
    color: #398aa3;
}

.name {
    font-family: "Overpass Mono", monospace;
    color: #454ade;
}

.misc {
    font-family: "Overpass Mono", monospace;
    color: #1c9363
}

.misc2 {
    font-family: "Overpass Mono", monospace;
    color: #4fa322;
}

.misc3 {
    font-family: "Overpass Mono", monospace;
    color: #a52e4a;
}

.brackets {
    color: #3a6f84;
    font-family: "Overpass Mono", monospace;
}

/* Link styles */
.link-1:link, .link-1:visited {
    color: #e3b505;
}

.link-2:link, .link-2:visited {
    color: #4fa322;
}

.link-3:link, .link-3:visited {
    color: #f45b69;
}

.link-4:link, .link-4:visited {
    color: #e952de;
}

.link-5:link, .link-5:visited {
    color: #4ecdc4;
}