/* Mono (code font) */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Overpass+Mono')

/* Serif font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')

* {
    font-family: "Overpass Mono", monospace;
}

.serif {
    font-family: "Open Sans", sans-serif !important;
}

.mono {
    font-family: "Overpass Mono", monospace !important;
}


/* Code Styling */
.reserved {
    font-family: "Overpass Mono", monospace;
    color: #e952de;
}

.comment {
    font-family: "Overpass Mono", monospace;
    color: #1c9363;
}

.comment2 {
    font-family: "Overpass Mono", monospace;
    color: #faa275;
}

.string {
    font-family: "Overpass Mono", monospace;
    color: #4fa322;
}

.function {
    font-family: "Overpass Mono", monospace;
    color: #398aa3;
}

.name {
    font-family: "Overpass Mono", monospace;
    color: #b2a561;
}

.misc {
    font-family: "Overpass Mono", monospace;
    color: #e6b89c ;
}

.misc2 {
    font-family: "Overpass Mono", monospace;
    color: #861388;
}

.misc3 {
    font-family: "Overpass Mono", monospace;
    color: #af3b6e;
}

.misc4 {
    font-family: "Overpass Mono", monospace;
    color: #bc316f;
}

.misc5 {
    font-family: "Overpass Mono", monospace;
    color: #EF798A
}

.brackets {
    color: #3a6f84;
    font-family: "Overpass Mono", monospace;
}

/* Link styles */
a.link-1:link, a.link-1:visited {
    color: #e3b505;
}

a.link-1:hover, a.link-1:active {
    color: #7C6303;
    text-decoration: none;
}

a.link-2:link, a.link-2:visited {
    color: #4fa322;
}

a.link-2:hover, a.link-2:active {
    color: #2C5913;
    text-decoration: none;
}

a.link-3:link, a.link-3:visited {
    color: #f45b69;
}

a.link-3:hover, a.link-3:active {
    color: #86323A;
    text-decoration: none;
}

a.link-4:link, a.link-4:visited {
    color: #e952de;
}

a.link-4:hover, a.link-4:active {
    color: #802D7A;
    text-decoration: none;
}

a.link-5:link, a.link-5:visited {
    color: #4ecdc4;
}

a.link-5:hover, a.link-5:active {
    color: #245E5A;
    text-decoration: none;
}

a.link-6:link, a.link-6:visited {
    color: #53a2be;
}

a.link-6:hover, a.link-6:active {
    color: #356879;
    text-decoration: none;
}

/* Adapted from - https://codepen.io/bootstrapped/pen/yJqbPa */
.underline {
    text-decoration: none; 
    position: relative; 
  }   

 .underline:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -7px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 70%;
    background: #af3b6e;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
 }

.underline:hover:after {
    width: 80%;
    background: #861388;
 }


 .underline2 {
    text-decoration: none; 
    position: relative; 
  }   

 .underline2:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -7px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40%;
    background: #4fa322;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
 }

 .underline2:hover:after {
     width: 60%;
     background: #2C5913;
  }

  .underline2-1 {
    text-decoration: none; 
    position: relative; 
  }   

 .underline2-1:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -7px; 
    margin: 0;
    left: 0;
    right: 0;
    width: 10%;
    background: #4fa322;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
 }

 .underline2-1:hover:after {
     width: 100%;
     background: #2C5913;
  }

 /* No offset */

 .underline3 {
    text-decoration: none; 
    position: relative; 
  }   

 .underline3:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -7px; 
    margin: 0;
    left: 0;
    right: 0;
    width: 10%;
    background: #4ecdc4;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
 }

.underline3:hover:after {
    width: 100%;
    background: #3a6f84;
 }

 .underline4 {
    text-decoration: none; 
    position: relative; 
  }   

 .underline4:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -7px; 
    margin: 0;
    left: 0;
    right: 0;
    width: 10%;
    background: #faa275;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
 }

.underline4:hover:after {
    width: 90%;
    background: #f45b69;
 }

 .underline5 {
    text-decoration: none; 
    position: relative; 
  }   

 .underline5:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -7px; 
    margin: 0;
    left: 0;
    right: 0;
    width: 10%;
    background: #af3b6e;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
 }

.underline5:hover:after {
    width: 90%;
    background: #861388;
 }


/* Code Formatting Help */
.code-text {
    margin: 3px 0;
    padding: 0;
}

.code-block {
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.indent {
    margin-left: 3rem;
}

.indent2 {
    margin-left: 6rem;
}

.indent3 {
    margin-left: 9rem;
}